@media screen and (max-width: 991.98px) {
    header {
        .navbar {
            padding: 0;
            .navbar-brand {
                padding-left: $pd-1 - 1;
            }
            #navbarMenu {
                background-color: $color-gray-6;
            }
            .navbar-nav {
                .nav-item {
                    border-bottom: 1px solid $color-gray-5;
                    &:nth-child(1),
                    &:nth-child(2) {
                        .nav-link {
                            padding: $pd-1 - 2 $pd-1;
                            border: 0;
                        }
                    }
                    .nav-link {
                        color: $color-blue-1;
                        &:hover {
                            background-position: 0 100%;
                        }
                    }
                }
            }
        }
        #vehicles {
            #vehicles-content {
                .vehicles-nav {
                    ul {
                        li {
                            border-right: 0;
                            padding: 0 $pd-2 - 2;
                            a {
                                padding: 0;
                                &:hover::before {
                                    display: none;
                                }
                            }
                            &.active {
                                a::before {
                                    display: none;
                                }
                            }
                        }
                    }
                }
                #vehicles-close {
                    p {
                        font-size: $fs-1 - 2;
                    }
                }
                #vehicles-list {
                    .vehicle-product {
                        .vehicle-info {
                            h4 {
                                font-size: $fs-2;
                            }
                            p {
                                font-size: $fs-1 - 2;
                            }
                        }
                    }
                }
            }
        }
        #shopping {
            right: 0;
            .tool__icon {
                justify-content: space-between;
                a {
                    i {
                        margin: 0;
                    }
                }
            }
        }
        .owners {
            right: 50%;
            transform: translateX(50%);
        }
    }
    #swiper-slider {
        height: 600px;
        .swiper-container {
            height: 400px;
            .swiper-wrapper {
                height: 90%;
            }
        }
    }
    #our-vehicle {
        h1 {
            font-size: $fs-4;
        }
        .carousel-indicators-config {
            width: 100% !important;
        }
        .carousel-control-next,
        .carousel-control-prev {
            i {
                font-size: $fs-3 + 6;
                padding: $pd-3 $pd-2 - 2;
            }
        }
        .carousel-caption-config {
            width: 35%;
            margin: auto;
            left: 7%;
            bottom: unset;
            top: 10%;
            font-size: $fs-0 + 2;
            .carousel-caption-detail {
                margin-bottom: $mg-1;
                .carousel-detail-content {
                    h2 {
                        font-size: $fs-3;
                    }
                    p {
                        font-size: $fs-0 + 2;
                    }
                }
            }
        }
        .carousel-caption-footer {
            width: 50%;
            border: none;
            bottom: 3%;
        }
    }
    .carousel-control-next {
        right: -0.5rem;
    }
    .carousel-control-prev {
        left: -0.5rem;
    }
    #footer {
        .footer {
            .footer__contact {
                .footer__left,
                .footer__right {
                    p {
                        font-size: $fs-0 + 3;
                    }
                    .btnWhite {
                        font-size: $fs-0 + 2;
                        padding: $pd-0 - 7 $pd-2;
                    }
                }
                .footer__left {
                    .footer__icon {
                        a {
                            padding: 0 $pd-0 - 5;
                        }
                    }
                }
            }
            .footer__link {
                .footer__detail {
                    max-width: 100%;
                    border-top: 1px solid $color-gray-5;
                    padding: $pd-0 + 3 0;
                }
            }
        }
        .copyRight {
            .copyRight__bottom {
                width: 100%;
                text-align: center;
            }
        }
    }
}