// =================COLOR===================
$color-blue-0: #007cc0;
$color-blue-1: #00446b;
$color-blue-2: #00304d;
$color-blue-3 :#06456a;
$color-blue-4: #2198dc;
$color-blue-5: #00324f;
$color-blue-overlay: rgba(0, 67, 108, 0.8);
$color-red-0: #e42525;
$color-gray-0: #f5f5f5;
$color-gray-1: rgba(255, 255, 255, 0.5);
$color-gray-2: #e5e5e5;
$color-gray-3: #f6f6f6;
$color-gray-4: #e8e8e8;
$color-gray-5: #c4c4c4;
$color-gray-6: #eeeeee;
$color-gray-7: rgba(255, 255, 255, 0.9);
$color-white-0: #ffffff;
// =================FONT-SIZE=================
$fs-0: 10px;
$fs-1: 16px;
$fs-2: 18px;
$fs-3: 24px;
$fs-4: 44px;
$fs-5: 60px;
$fs-6: 75px;
$fs-7: 1.4rem;
// =================PADDING=================
$pd-0: 10px;
$pd-1: 16px;
$pd-2: 22px;
$pd-3: 30px;
$pd-4: 40px;
$pd-5: 49px;
$pd-6: 60px;
$pd-7: 75px;
$pd-8: 100px;
$pd-9: 5%;
$pd-10: 5.6%;
$pd-11: 7.2%;
// =================MARGIN=================
$mg-0: 5px;
$mg-1: 10px;
$mg-2: 20px;
$mg-3: 30px;
$mg-4: 40px;
$mg-5: 53px;
$mg-6: 60px;
$mg-7: 85px;
$mg-8: 200px;
$mg-9: 1%;
$mg-10: 1vw;
$mg-11: -200px;
// =================FONT-WEIGHT=================
$fw-300: 300;
$fw-400: 400;
$fw-600: 600;
$fw-700: 700;
$fw-bold: bold;